<!-- SESSION INPUT -->
<% if action_name =='show' %>
<div class="form-group">
  <%= f.label :session_uri, class: 'col-sm-3 control-label' %>
  <div class="col-sm-6">
    <%= f.text_field :session_uri, class: 'form-control', disabled: (action_name == 'show') %>
  </div>
  <div class="col-sm-3">
    <%= link_to 'Create Session', payments_add_path(cart_id: @cart.id), remote: true, class: 'btn btn-success' %>
  </div>
</div>
<% end %>
<!-- END SESSION INPUT -->
