<!-- START DATE INPUT -->
<div class="form-group">
  <%= f.label :start_date, class: 'col-sm-3 control-label' %>
  <div class="col-sm-3">
    <div class="input-group date">
      <%= f.text_field :start_date, class: 'form-control', disabled: (action_name == 'show') %>
      <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
  </div>
</div>
<!-- END START DATE INPUT -->
