<!-- SIDEBAR -->
<div class="page-sidebar" data-pages="sidebar">
  <!-- <div id="appMenu" class="sidebar-overlay-slide from-top"></div> -->

  <%= render 'shared/sidebar/header' %>

  <!-- BEGIN SIDEBAR MENU -->
  <%= render 'shared/sidebar/menu' %>
  <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
