<div class="panel panel-default m-t-30">
  <div class="panel-heading">
    <h1 class="panel-title">Orders</h1>
    <%# link_to 'New Cart', carts_path(cart: {}), method: :post, class: 'pull-right btn btn-success' %>
    <span class="clearfix"></span>
  </div>
  <div class="panel-body">
    <%= render 'shared/notice' %>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <th></th>
          <th></th>
          <th>Total</th>
          <th>Duration</th>
          <th>Date</th>
          <th>Time</th>
          <th>User</th>
          <th></th>
        </thead>
        <tbody>
          <%= render(@orders) %>
        </tbody>
      </table>
    </div>

  </div>
</div>
