<div id="cart">
  <%= render(@cart) %>
</div>

<div class="panel panel-default m-t-30">
  <div class="panel-heading">
    <h1 class="panel-title">Show Cart</h1>
  </div>

  <div class="panel-body">
    <%= render 'shared/notice' %>
    <%= render 'form', cart: @cart %>
  </div>
</div>
