<div class="panel panel-default m-t-30">
  <div class="panel-heading">
    <h1 class="panel-title">New Product</h1>
    <div class="pull-right">
      <%= link_to products_path, class: 'btn btn-default' do %>
        <i class="fa fa-shopping-bag"></i>
      <% end %>
    </div>
    <span class="clearfix"></span>
  </div>

  <div class="panel-body">
    <%= render 'form', product: @product %>
  </div>
</div>
